@import "../../../../../styles.scss";

.container{
    background-color: $color-gray-primary;
    height: 100%;
    padding:50px;
    display: flex;
    

    .left-section{
        height: 100%;
        width:70%;
        color:white;
        padding-right: 3em;

        .progress-bar{
            width:8em;
            margin-bottom: 10px;
        }

        .product-list{
            overflow-y: scroll;
            max-height: 20em;
            margin:2em 0;

            //Browser specific scrollbar 
            -ms-overflow-style: none; 
            scrollbar-width: none;
            ::-webkit-scrollbar{
                display:none;
            } 

            .product-card{
                margin: 1em;
                background-color: $color-gray-secondary;

                padding:20px;
                display: flex;
                flex-direction: column;
                gap:20px;
                color: white;
                width: 20em;
                border-radius: 5px;

                .product-name{
                    font-size: small;
                    font-weight: bold;
                    max-width: 17em;
            
                }
                
                .model-number{
                    color: $color-gray-300;
                    font-size: x-small;
                }
            
                .product-image{
                    width: 8em;
                    align-self: center;
                }
            
                .bottom-section{
                    display: flex;
                    align-items: center;
                    gap:80px;
                    .stock-status{
                        font-size: xx-small;
                        font-weight: 200;
                    }
                
                    .price{
                        font-size: medium;
                    }
                    .action-section{
                        margin-left: auto;
                        display: flex;
                        gap:0.5em;

                    }

                }
            
            }
        }

        .cancel-order-button{
            margin-top: auto;
            justify-self: end;
        }
        
    }
}