@import "../../../../../../styles.scss";

:host{
    display: block;
    width: 100%;
}

.title{
    color:white;
}

.container{
    padding: 50px;
    background-color: $color-gray-secondary;
    margin-top:1em;
    height: 90%;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;

    .info-group{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .logo{
        width: 4em;
    }

    .info-title{
        font-weight: normal;
        color: white;
    }

    .action-section{
        margin-top:auto;
        display: flex;
        gap: 100px;
    }

}