<h3 class="title">Confirm Information</h3>
<div class="container">
    <div>
        <h5 class="subtitle">Customer Information</h5>
        <h5>Anish U</h5>
        <h6>anish98821@gmail.com</h6>
        <h6>+91 8951223201</h6>
        <br/>
        <h6>#002 Landlinks Heights 'A', Landlinks Township<br/>Konchady, Derebail</h6>
    </div>

    <!-- <div>
        <h5 class="subtitle">Customizations</h5>
        <h6>22" Rim, 5'Frame, Disk brakes, Front suspensiona</h6>
    </div> -->

    <div>
        <h5 class="subtitle">Final Cost</h5>
        <h2 class="final-cost">$1900</h2>
    </div>

    <div class="action-section">
        <app-button size="medium" text="Back" type="outline" (onClick)="onBack()"/>
        <app-button size="medium" text="Proceed to payment" class="submit-button" (onClick)="onNext()"/>
    </div>


</div>