<h3 class="title">Payment</h3>
<div class="container">
    <h4>Payment Successful!</h4>
    <img class="logo" src="assets/images/dashboard/cashier/new-order/payment-indicator/Successful.svg">

    <div class="info-group">
        <h6 class="info-title">
            Transaction Amount
        </h6>
        <h4>$19000</h4>
    </div>

    <div class="info-group">
        <h6 class="info-title">
            Transaction Id
        </h6>
        <h4>CYNO-1234EFJ</h4>
    </div>

    <div class="action-section">
        <app-button type="outline" text="Finsh"/>
        <app-button text="Print Reciept"/>
    </div>

</div>