@import "../../../../../styles.scss";


.content-section{
    background-color: $color-gray-primary;
    padding:30px;
    width: 100%;
    height: 100%;
    .title{
        color:white;
    }

    .search-section{
        margin-top:10px;
        display: flex;
        align-items: end;
        gap: 20px;
        .search-bar{
            width:60%;
        }
    }
}