<div class="container">
    <div class="top-section">
        <h3  class="product-name">Road Dirter Xtreme</h3>
        <h5 class="model-number">RDX-023</h5>
    </div>
    <img class="product-image" src="https://www.herocycles.com/dw/image/v2/BGQH_PRD/on/demandware.static/-/Sites-cycles-master/default/dwd1165ac1/Products/Voltage/BSVOL20BKGN001/01.png?sh=523&sfrm=png">
    <div class="bottom-section">
        <div>
            <h6 class="stock-status">In Stock</h6>
            <h3 class="price">$ 1900</h3>
        </div>
        <app-button size="small" text="Edit" type="outline" class="order-button"/>
    </div>
</div>