<div class="container">
    <section class="left-section">
        <div class = "content">
            <div class="title-div">
                <span class="title"><h1>Business Intergrated System</h1><span class="version"> v1.3</span> </span>
                <img src="assets/images/login-page/InfinityLogo.svg" alt="Infinity Logo" class="infinityLogoImage">
            </div>
            <img src="assets/images/login-page/Vortex.svg" alt="WireframeVortex" class="wireframeVortex">
        </div>
    </section>
    <section class="right-section">
        <app-login-panel/>
    </section>
</div>